.square {
    width: 100px;
    height: 100px;
    background-color: blue;
    
}

h1{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
 color: yellow;
}

.rectangle{
  animation: 1s;
  animation-fill-mode: forwards;
  animation-name: animRectangle;
}

@keyframes animRectangle {
  0%{
    width: 100px;
    height: 100px;
    background-color: blue;
  }
  
  100%{ 
    height: 50px;
    width: 100px;
    background-color: red;
  }
}